.box{
	width: 735px;
	height: 280px;
	margin-top: 50px;
}
.box > div{
	border: 1px solid #d2d2d2;
	border-radius: 6px;
}
.left{
	width: 170px;
	height: 278px;
	float: left;
}
.right{
	width: 526px;
	height: 278px;
	float: right;
}
.box > div > .title{
	width: 100%;
	height: 37px;
	text-align: center;
	line-height: 38px;
	background: #c7f3ff;
	color: #424242;
	border-radius: 6px; 
	border-bottom: 1px solid #d2d2d2;
	font-size: 14px;
}
.left > .title{
	background: #c7f3ff url(../../img/newimg/brt.png) no-repeat 150px center !important;
	background-size: 10px !important;
	cursor: pointer;
}
.photo{
	width: 96px;
	height: 96px;
	display: block;
	border-radius: 50%;
	box-shadow: 0 3px 10px #ccc;
	margin-top: 25px;
	background: url(../../img/newimg/photo.png) no-repeat center;
	background-size: cover;
}
.phone{
	margin-top: 10px;
	color: #424242;
	text-align: center;
	font-size: 14px;
}

.lvjs{
	width: 150px;
	height: 50px;
	margin-top: 20px;
}
.lvjs > p{
	width: 75px;
	height: 75px;
	float: left;
	text-align: center;
	line-height: 25px;
	font-size: 14px;
	color: #424242;
	white-space:nowrap;
}
.right > ul{
	width: 90%;
}
.right > ul > li{
	width: 100%;
	height: 44px;
	line-height: 45px;
	border-bottom: 1px solid #ddd;
	font-size: 14px;
}
.right > ul > li > span{
	width: 23px;
	height: 23px;
	border-radius: 50%;
	display: inline-block;
	margin-right: 10px;
	float: left;
	margin-top: 11px;
}
.xx{
	background: #3dcdb4 url(../../img/newimg/xx.png) no-repeat center;
	background-size: 15px;
}
.xg{
	background: #ff464f url(../../img/newimg/xg.png) no-repeat center;
	background-size: 15px;
}
.lb{
	background: #f8ab0d url(../../img/newimg/lb.png) no-repeat center;
	background-size: 15px;
}
.cp{
	background: #f58b3d url(../../img/newimg/cp.png) no-repeat center;
	background-size: 15px;
}
.qh{
	background: #00bff6 url(../../img/newimg/zh.png) no-repeat center;
	background-size: 15px;
}
.right > ul > li > a{
	float: right;
	color: #47a4dc;
}
.right > ul > li > a:hover{
	text-decoration: underline;
}