header{
	width: 100%;
	height: 48px;
	background: #47a4dc;
	text-align: center;
	line-height: 48px;
	color: #fff;
}
.goBack{
	width: 30px;
	height: 48px;
	float: left;
	display: inline-block;
	background: url(../../img/newimg/lt.png) no-repeat 10px center;
	background-size: 12px;
}
.goPerson{
	width: 36px;
	height: 36px;
	border-radius: 50%;
	margin-top: 6px;
	margin-right: 8px;
	background: #fff url(../../img/newimg/photo.png) no-repeat bottom center;
	background-size: 24px;
	display: inline-block;
	float: right;
}
#wrapper {
	position:absolute;
	z-index:1;
	top:45px;
	bottom:48px;
	left:0;
	width:100%;
	overflow:auto;
}
.box{
	width: 100%;
	height: 90%;
	overflow: auto;
}
.box > li{
	width: 96%;
	height: 50px;
	border-bottom: 1px solid #ccc;
}
.dateTime{
	width: 73px;
	margin-top: 5px;
	height: 40px;
	line-height: 20px;
	color: #bbbbbb;
	float: left;
	text-align: center;
	font-size: .8em;
}
.logo{
	width: 40px;
	height: 40px;
	display: inline-block;
	float: left;
	margin: 5px 40px;
}
.detail{
	float: left;
	margin-top: 6px;
	width: 110px;
	height: 40px;
	line-height: 20px;
	color: #5d5d5d;
	font-size: .9em;
}
.weiX .logo{
	background: url(../../img/newimg/weix.png) no-repeat center;
	background-size: 40px;
}
.card .logo{
	background: url(../../img/newimg/card.png) no-repeat center;
	background-size: 40px;
}
.alipay .logo{
	background: url(../../img/newimg/pay.png) no-repeat center;
	background-size: 40px;
}
#pullDown, #pullUp {
	background:#fff;
	height:40px;
	line-height:40px;
	padding:5px 10px;
	border-bottom:1px solid #ccc;
	font-weight:bold;
	font-size:14px;
	color:#888;
}
#pullDown .pullDownIcon, #pullUp .pullUpIcon  {
	display:block; float:left;
	width:40px; height:40px;
	background:url(../../img/newimg/pull-icon@2x.png) 0 0 no-repeat;
	-webkit-background-size:40px 80px; background-size:40px 80px;
	-webkit-transition-property:-webkit-transform;
	-webkit-transition-duration:250ms;	
}
#pullDown .pullDownIcon {
	-webkit-transform:rotate(0deg) translateZ(0);
}
#pullUp .pullUpIcon  {
	-webkit-transform:rotate(-180deg) translateZ(0);
}

#pullDown.flip .pullDownIcon {
	-webkit-transform:rotate(-180deg) translateZ(0);
}

#pullUp.flip .pullUpIcon {
	-webkit-transform:rotate(0deg) translateZ(0);
}

#pullDown.loading .pullDownIcon, #pullUp.loading .pullUpIcon {
	background-position:0 100%;
	-webkit-transform:rotate(0deg) translateZ(0);
	-webkit-transition-duration:0ms;

	-webkit-animation-name:loading;
	-webkit-animation-duration:2s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:linear;
}

@-webkit-keyframes loading {
	from { -webkit-transform:rotate(0deg) translateZ(0); }
	to { -webkit-transform:rotate(360deg) translateZ(0); }
}